.scroll-progress {
  width: 0%;
  background-color: rgb(180, 201, 86);
  height: 5px;
  position: fixed;
  top: 100px;
  left: 0;
}

.construction {
  color: orangered;
  font-weight: bold;
}

.navbar .nav-item:hover {
  text-decoration: underline 3px white;
  text-underline-offset: 10px;
  text-decoration-skip-ink: auto;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.95;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.modal-dialog {
  max-width: 1040px;
}

.download {
  background: url('../images/download-background.jpg') center center no-repeat;
  background-size: cover;
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}

@media (max-width: 1000px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }

  .hero .text-container {
    text-align: center;
  }
}
