<!-- Navigation -->
<!-- el fons de la nabar o d'alguna secció de la web podria ser un camp de hoquei amb to blavós, similar a com ho han fet a basquet. -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img
        src="/images/logos/logo-no-text-fons-blanc-removebg-preview.png"
        class="logo-image"
        alt=""
        width="100"
      />
    </a>
    <button
      class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around me-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <!-- Dropdown menu upon toggle clicked -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mt-3">
        <li class="nav-item">
          <a href="/" class="nav-link fw-semibold px-3 ms-auto lh-sm">Inici</a>
        </li>
        <li class="nav-item">
          <a href="/admin/user-posts" class="nav-link fw-semibold px-3 ms-auto lh-sm"
            >Els meus posts</a
          >
        </li>
        <li class="nav-item">
          <a href="/admin/create-post" class="nav-link fw-semibold px-3 ms-auto lh-sm"
            >Nou post</a
          >
        </li>
        <li class="nav-item">
          <a href="/admin/me" class="nav-link fw-semibold px-3 ms-auto lh-sm"
            >Les meves dades</a
          >
        </li>
        <li class="nav-item">
          <form action="/auth/logout" method="POST">
            <button type="submit" class="nav-link fw-semibold px-3 ms-auto lh-sm">
              Desconnectar
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <!-- scroll progress bar -->
  <div class="scroll-progress" id="scroll-progress"></div>
</nav>
