<!-- Social -->
<section class="social text-bg-dark py-4 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center fs-4">
        <p>
          Pots mantenir-te al dia dels events de l'associació a través de les nostres
          xarxes socials.
        </p>
        <div class="social-icons d-flex justify-content-center gap-4">
          <i class="fab fa-facebook fa-2x"></i>
          <i class="fab fa-twitter fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="border-top border-primary bg-dark text-white py-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8">
        <ul class="nav d-flex-md align-content-center justify-content-center">
          <li class="nav-item">
            <a href="#inici" class="nav-link link-light">Inici</a>
          </li>
          <li class="nav-item">
            <a href="#membres" class="nav-link link-light">Membres</a>
          </li>
          <li class="nav-item">
            <a href="#temporades-recents" class="nav-link link-light"
              >Temporades recents</a
            >
          </li>
          <li class="nav-item">
            <a href="#interest-links" class="nav-link link-light">Enllaços d'interès</a>
          </li>
          <li class="nav-item">
            <a href="#location" class="nav-link link-light">On som</a>
          </li>
          <li class="nav-item">
            <a href="#contacte" class="nav-link link-light">Contacte</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="text-end d-none d-md-block">&copy; alexorpi2023</p>
      </div>
    </div>
  </div>
</footer>
