<%- include('../includes/header.ejs') %>
    <body>
        <div class="position-fixed h-100 w-100 bg-primary">
        <%- include('../includes/adminNavigation.ejs') %>
            <div class="container-lg mt-6 bg-light p-4 rounded-4">
            <h2>Aquí les informacions de l'usuari</h2>
            <h3>Per si les vol modificar</h3>
            <ul>
                <li>Nom</li>
                <li>Email</li>
                <li>Modificar contrasenya</li>
            </ul>
          
            </div>

            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/script.js"></script>
    </body>
</html>