<%- include('../includes/header.ejs') %>
    <body>
        <div class="position-fixed h-100 w-100 bg-primary">
        <%- include('../includes/adminNavigation.ejs') %>
            <div class="container-lg mt-6 bg-light p-4 rounded-4">
            <h1>Aquí aniràn els posts de l'usuari connectat</h1>
            </div>

        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>