<%- include('../includes/header.ejs') %>
<body>
  <div class="position-fixed h-100 w-100 bg-primary">
    <%- include('../includes/adminNavigation.ejs') %>
    <div class="container-lg mt-6 bg-light p-4 rounded-4">
      <form action="/auth/login" method="post">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="name@example.com"
            name="email"
            required
          />
          <label for="emailInput">Adreça email</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            placeholder="Password"
            required
            name="password"
          />
          <label for="passwordInput">Contrasenya</label>
        </div>
        <strong>He oblidat la contrasenya</strong>
        <button type="submit" class="btn mt-2 btn-primary d-block">Inicia sessió</button>
    </form>
    <h4 class="mt-3">No tens compte? Regístre't</h4>
    <a href="/auth/register" >
        <button type="button" class="btn btn-primary">Registrar-me</button>
    </a>
    </div>
    
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
