<%- include('../includes/header.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>

  <div class="container-sm">
    <form class="mb-3" action="/auth/login" method="POST">
        <label for="email" class="form-label">Adreça email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="password" class="form-label">Contrasenya</label>
        <input type="password" class="form-control" id="password">
        <button type="submit" class="btn mt-4 btn-primary">Inicia sessió</button>
    </form>
  </div>



  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>