<%- include('../includes/header.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
<div class="container-md">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
</div>

  <%- include('../includes/footer.ejs') %>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>